/* Style for the first search bar */
body {
  background-color: rgba(128, 128, 216, 0.468);
  font-family: 'Ariel', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  
}


h1 {
  text-align: center;
  font-size: 40px;
  color: #000;
  margin: 20px;
  font-family: 'Brush Script MT', 'Brush Script Std',cursive;
  
}
h1 {
    text-shadow: 2px 2px 4px #333;
  }


.food-cards{
  max-height: 390px;
  overflow:scroll;
}
.search-1 {
  display: flex;
  flex-direction: column;
  margin: 20px;
  float: left;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 25px;
  border-radius: 10px;

  /* align-items:center; */
}

.food-title {
  font-weight: 400;
}
.food-image {
  width: 250px;
  height: 250px;
  border-radius: 10px;
}

.food-title {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}
.food-card-container {
  background: rgba(128, 128, 216, 0.468);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-top: 20px;
  
}
.food-card {
  display: flex;
  width: 100%;
  gap: 30px;
  justify-content: center;
  
}

.food-card .recipe {
  background: rgba(255, 255, 255, 0.5);
  width: 800px;
  max-width: 60%;
  border-radius: 10px;
  height: 250px;
  overflow:scroll;
  
}

.food-card .recipe ul{
  font-size:2.5rem;

}

.search-1,
.search-2 {
  width: 80%;
  
}

/* Skeleton  */
.search-1 form button:hover {
    color: #5d42e6;
    background-color: #9b90d8;
 }
 .search-2 button:hover {
    color: #5d42e6;
    background-color: #9b90d8;
 }
        
    
.search-1 form {
  display: flex;
  flex-direction: column;
  
}

.search-1 form input,
.search-2 input {
    border:none;
  outline: none;
  margin-bottom: 10px;
  width: 20%;
  padding: 8px 16px;
  border-radius: 5px;
}


.search-1 form button{
  margin-bottom:10px;
}

.search-1 form button,
.search-2 button {
  width: 23%;
  border: none;
  color: #fff;
  background-color: #34bbe8;
  padding: 8px 16px;
  border-radius: 5px;
}

.search-2 ul,
.search-2 ol {
  display: none;
}

.search-2 img {
  border-radius: 30px;
  max-width: 40%;
  margin: 0 auto;
  display: flex;
  padding: 20px;
}

.search-2 {
  display: flex;
  flex-direction: column;
  margin: 20px;
  float: right;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 25px;
  border-radius: 10px;
  
}

#search-food,
.search-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cocktail-image{
max-width: 200px;
max-height: 200px;
}
.search-2:hover {
    box-shadow: 25px 25px 30px rgba(138, 17, 230, 0.3);
    transition: box-shadow 0.3s ease-in-out;
  }
  .search-1:hover {
    box-shadow: 25px 25px 30px rgba(138, 17, 230, 0.3);
    transition: box-shadow 0.3s ease-in-out;
  }
  